.location {
    width: 160px;
    height: 400px;
    border: solid lightgrey 2px;
    margin-right: auto;
    margin-left: auto;
}

.vegetable {
    width: 156px;
    margin-right: auto;
    margin-left: auto;
}


.vegetable-1 {
    height: 4px;
}

.vegetable-2 {
    height: 8px;
}

.vegetable-3 {
    height: 12px;
}

.vegetable-4 {
    height: 16px;
}

.vegetable-5 {
    height: 20px;
}

.vegetable-6 {
    height: 24px;
}

.vegetable-7 {
    height: 28px;
}

.vegetable-8 {
    height: 32px;
}

.vegetable-9 {
    height: 36px;
}

.vegetable-10 {
    height: 40px;
}

.vegetable-11 {
    height: 44px;
}

.vegetable-12 {
    height: 48px;
}

.vegetable-13 {
    height: 52px;
}

.vegetable-14 {
    height: 56px;
}

.vegetable-15 {
    height: 60px;
}

.vegetable-16 {
    height: 64px;
}

.vegetable-17 {
    height: 68px;
}

.vegetable-18 {
    height: 72px;
}

.vegetable-19 {
    height: 76px;
}

.vegetable-20 {
    height: 80px;
}

.vegetable-21 {
    height: 84px;
}

.vegetable-22 {
    height: 88px;
}

.vegetable-23 {
    height: 92px;
}

.vegetable-24 {
    height: 96px;
}

.vegetable-25 {
    height: 100px;
}

.vegetable-26 {
    height: 104px;
}

.vegetable-27 {
    height: 108px;
}

.vegetable-28 {
    height: 112px;
}

.vegetable-29 {
    height: 116px;
}

.vegetable-30 {
    height: 120px;
}

.vegetable-31 {
    height: 124px;
}

.vegetable-32 {
    height: 128px;
}

.vegetable-33 {
    height: 132px;
}

.vegetable-34 {
    height: 136px;
}

.vegetable-35 {
    height: 140px;
}

.vegetable-36 {
    height: 144px;
}

.vegetable-37 {
    height: 148px;
}

.vegetable-38 {
    height: 152px;
}

.vegetable-39 {
    height: 156px;
}

.vegetable-40 {
    height: 160px;
}

.vegetable-41 {
    height: 164px;
}

.vegetable-42 {
    height: 168px;
}

.vegetable-43 {
    height: 172px;
}

.vegetable-44 {
    height: 176px;
}

.vegetable-45 {
    height: 180px;
}

.vegetable-46 {
    height: 184px;
}

.vegetable-47 {
    height: 188px;
}

.vegetable-48 {
    height: 192px;
}

.vegetable-49 {
    height: 196px;
}

.vegetable-50 {
    height: 200px;
}

.vegetable-51 {
    height: 204px;
}

.vegetable-52 {
    height: 208px;
}

.vegetable-53 {
    height: 212px;
}

.vegetable-54 {
    height: 216px;
}

.vegetable-55 {
    height: 220px;
}

.vegetable-56 {
    height: 224px;
}

.vegetable-57 {
    height: 228px;
}

.vegetable-58 {
    height: 232px;
}

.vegetable-59 {
    height: 236px;
}

.vegetable-60 {
    height: 240px;
}

.vegetable-61 {
    height: 244px;
}

.vegetable-62 {
    height: 248px;
}

.vegetable-63 {
    height: 252px;
}

.vegetable-64 {
    height: 256px;
}

.vegetable-65 {
    height: 260px;
}

.vegetable-66 {
    height: 264px;
}

.vegetable-67 {
    height: 268px;
}

.vegetable-68 {
    height: 272px;
}

.vegetable-69 {
    height: 276px;
}

.vegetable-70 {
    height: 280px;
}

.vegetable-71 {
    height: 284px;
}

.vegetable-72 {
    height: 288px;
}

.vegetable-73 {
    height: 292px;
}

.vegetable-74 {
    height: 296px;
}

.vegetable-75 {
    height: 300px;
}

.vegetable-76 {
    height: 304px;
}

.vegetable-77 {
    height: 308px;
}

.vegetable-78 {
    height: 312px;
}

.vegetable-79 {
    height: 316px;
}

.vegetable-80 {
    height: 320px;
}

.vegetable-81 {
    height: 324px;
}

.vegetable-82 {
    height: 328px;
}

.vegetable-83 {
    height: 332px;
}

.vegetable-84 {
    height: 336px;
}

.vegetable-85 {
    height: 340px;
}

.vegetable-86 {
    height: 344px;
}

.vegetable-87 {
    height: 348px;
}

.vegetable-88 {
    height: 352px;
}

.vegetable-89 {
    height: 356px;
}

.vegetable-90 {
    height: 360px;
}

.vegetable-91 {
    height: 364px;
}

.vegetable-92 {
    height: 368px;
}

.vegetable-93 {
    height: 372px;
}

.vegetable-94 {
    height: 376px;
}

.vegetable-95 {
    height: 380px;
}

.vegetable-96 {
    height: 384px;
}

.vegetable-97 {
    height: 388px;
}

.vegetable-98 {
    height: 392px;
}

.vegetable-99 {
    height: 396px;
}

.vegetable-100 {
    height: 400px;
}

.color-square {
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 6px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-horizontal-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vegetable-list {
    border:grey 2px solid;
    border-radius: 8px;
    background-color: lightgray;
    padding-top: 16px;
}

.location-form {
    border:grey 2px solid;
    border-radius: 8px;
    background-color: lightgray;
    padding-top: 16px;
    padding-bottom: 14px;
}

.surface-warning-label {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border:solid 1px;
}

.validated-input {
    border: solid 2px;
    border-color: green;
}

.location-crud-buttons {
    border:grey 2px solid;
    border-radius: 8px;
    padding-top: 16px;
}

.location-crud-buttons > div {
    padding: 0;
    display: flex;
    justify-content: center;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
